* {
  box-sizing: border-box;
}
body {
  background-color: #FF6600;
}
.wrap {
  width: 80%;
  margin: 0 auto;
}
.cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.block {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
}
#links {
  color: #FFFFFF;
  ul {
    list-style-type: none;
    li {
      margin-bottom: 8px;
      a {
        text-decoration: none;
      }
    }
  }
}