* {
  box-sizing: border-box;
}
body {
  background-color: #FF6600;
}
.wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    .block {
      flex-basis: 20%;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}